<h1>Join Family Matters Now!</h1>

<%= form_for @allfamilys do | f | %> 

<p>

     <%= f.label:name %> 
     <%= f.text_field :name %>
</p>
<p>

     <%= f.label:age %> 
     <%= f.text_field :age %>
</p>

<p>

     <%= f.label:city %> 
     <%= f.text_field :city %>
</p>
<p>

     <%= f.label:email %> 
     <%= f.text_field :email %>
</p>


<p><%= f.submit %></p> 

<% end %>

