<h1><strong><%= @allfamilys.name %></strong> Information:</h1>

<ul>
  <li> Name <%= @allfamilys.name %></li>
  <li> Age <%= @allfamilys.age %></li>
  <li> Location <%= @allfamilys.city %></li>
   <li> Contact <%= @allfamilys.email %> </li>
</ul>

<%= link_to 'Home Page', home_url %>
